@import url('https://fonts.cdnfonts.com/css/novecento-sans-wide');
/* @import url('https://fonts.cdnfonts.com/css/harmonyos-sans'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=WDXL+Lubrifont+JP+N&display=swap'); */

@import 'tailwindcss' source('../');
@import './utilities.css';
@import './grid-utilities.css';
/* @plugin '@toolwind/anchors'; */

@source '../**/*.{js,jsx,ts,tsx}';

:root {
  interpolate-size: allow-keywords;
}

*,
::before,
::after,
::details-content {
  transition-behavior: allow-discrete;
}

@theme {
  --font-sans: Noto Sans JP, sans-serif;
  --font-novecento-sans: Novecento Sans Wide, sans-serif;
  --font-harmonyos-sans: HarmonyOS Sans, sans-serif;
  --tracking-tightest: -0.1em;

  --color-endfield: #fffa00;
  --color-rarity-3: #26bbfa;
  --color-rarity-4: #9550fa;
  --color-rarity-5: #ffba02;
  --color-rarity-6: #fd7000;

  --transition-property-details: content-visibility, opacity, height;

  --clip-path-triangle-up: polygon(50% 0%, 0% 100%, 100% 100%);
}

@utility bg-stripe-* {
  --stripe-color: --value(--color-*, [color]);
  --stripe-color: --alpha(--value(--color-*, [color]) / calc(1% * --modifier(number, [*])));
  --stripe-width: --value(number, [number]);

  /* biome-ignore format: too long */
  background-image: linear-gradient(-45deg,
    transparent 0, transparent calc(25% - 0.25% * var(--stripe-width)),
    var(--stripe-color) 0, var(--stripe-color) calc(25% + 0.25% * var(--stripe-width)),
    transparent 0, transparent calc(75% - 0.25% * var(--stripe-width)),
    var(--stripe-color) 0, var(--stripe-color) calc(75% + 0.25% * var(--stripe-width)),
    transparent 0, transparent);
}

@property --stripe-color {
  syntax: '*';
  inherits: false;
  initial-value: currentcolor;
}

@property --stripe-width {
  syntax: '*';
  inherits: false;
  initial-value: 50;
}

@utility bg-grid-* {
  --grid-color: --value(--color-*, [color]);
  --grid-color: --alpha(--value(--color-*, [color]) / calc(1% * --modifier(number, [*])));

  /* biome-ignore format: too long */
  background-image:
    linear-gradient(0deg, var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
}

@property --grid-color {
  syntax: '*';
  inherits: false;
  initial-value: currentcolor;
}

@theme inline {
  --polygon-invert: 0 0, 100% 0, 100% 100%, 0 100%, 0 0;
}

@utility clip-path-arrow-se-* {
  --arrow-width: --spacing(--value(number, [number]));
  --arrow-width: --value(percentage, [percentage], --pixel-*, [*]);
  --tw-shape:
    0 100%, 100% 100%, 100% 0, calc(100% - var(--arrow-width)) 0,
    calc(100% - var(--arrow-width)) calc(100% - var(--arrow-width) * (1 + cos(45deg))),
    calc(var(--arrow-width) * cos(45deg)) 0, 0 0, 0 calc(var(--arrow-width) * cos(45deg)),
    calc(100% - var(--arrow-width) * (1 + cos(45deg))) calc(100% - var(--arrow-width)),
    0 calc(100% - var(--arrow-width));

  clip-path: polygon(evenodd, var(--tw-shape));
  clip-path: polygon(evenodd, --modifier(--polygon-*), var(--tw-shape));
}

@property --arrow-width {
  syntax: '*';
  inherits: false;
  initial-value: 20%;
}

@property --tw-shape {
  syntax: '*';
  inherits: false;
  initial-value: inset(0);
}

@theme {
  --font-sarkaz: Arknights Sarkaz;
}

/* https://github.com/lhclbt/Endfield_Font */
@font-face {
  font-family: 'Arknights Sarkaz';
  src: url('https://raw.githubusercontent.com/lhclbt/Endfield_Font/main/EndfieldByButan.ttf');
}

@layer base {
  :root {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }
}

@layer components {
  .comment-chip {
    @apply font-novecento-sans font-black before:content-["//"] before:tracking-[-0.2em] before:me-[0.25em];
  }

  .chip-button {
    @apply relative flex items-center h-4 px-2 rounded-full text-xs transition bg-gray-50 has-checked:bg-endfield shadow-sm hover:shadow-md hover:brightness-90;

    & input {
      @apply absolute appearance-none inset-0 rounded-full;
    }
  }
}
