@theme inline {
  --grid-span-span-1: span 1;
  --grid-span-span-2: span 2;
  --grid-span-span-3: span 3;
  --grid-span-span-4: span 4;
  --grid-span-span-5: span 5;
  --grid-area-start-span-full: 1;
  --grid-area-end-span-full: -1;
}

@utility col-* {
  grid-column: --value(integer) / --modifier(integer, --grid-span-*);
}

@utility col-span-* {
  grid-column: span --value(integer) / --modifier(integer, --grid-span-*);
}

@utility row-* {
  grid-row: --value(integer) / --modifier(integer, --grid-span-*);
}

@utility row-span-* {
  grid-row: span --value(integer) / --modifier(integer, --grid-span-*);
}

@utility area-* {
  grid-area:
    --modifier(integer, --grid-span-*, --grid-area-start-*) /
    --value(integer, --grid-span-*, --grid-area-start-*) /
    --modifier(integer, --grid-span-*, --grid-area-end-*) /
    --value(integer, --grid-span-*, --grid-area-end-*);
}

@theme inline {
  --grid-track-1fr: 1fr;
  --grid-track-2fr: 2fr;
  --grid-track-3fr: 3fr;
  --grid-track-max: max-content;
  --grid-track-min: min-content;
  --grid-track-full: 100%;
}

@utility c1-* {
  --tw-c1: --soacing(--value(number));
  --tw-c1: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  --tw-c1: minmax(--spacing(--value(number)), --spacing(--modifier(number)));
  --tw-c1: minmax(
    --spacing(--value(number)),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  --tw-c1: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --spacing(--modifier(number))
  );
  --tw-c1: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  grid-template-columns: var(--tw-c1);
}

@utility c1-fit-* {
  --tw-c1: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  grid-template-columns: var(--tw-c1);
}

@utility c2-* {
  --tw-c2: --soacing(--value(number));
  --tw-c2: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  --tw-c2: minmax(--spacing(--value(number)), --spacing(--modifier(number)));
  --tw-c2: minmax(
    --spacing(--value(number)),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  --tw-c2: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --spacing(--modifier(number))
  );
  --tw-c2: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  grid-template-columns: var(--tw-c1) var(--tw-c2);
}

@utility c2-fit-* {
  --tw-c2: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  grid-template-columns: var(--tw-c1) var(--tw-c2);
}

@utility c3-* {
  --tw-c3: --soacing(--value(number));
  --tw-c3: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  --tw-c3: minmax(--spacing(--value(number)), --spacing(--modifier(number)));
  --tw-c3: minmax(
    --spacing(--value(number)),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  --tw-c3: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --spacing(--modifier(number))
  );
  --tw-c3: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  grid-template-columns: var(--tw-c1) var(--tw-c2) var(--tw-c3);
}

@utility c3-fit-* {
  --tw-c3: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  grid-template-columns: var(--tw-c1) var(--tw-c2) var(--tw-c3);
}

@utility c4-* {
  --tw-c4: --soacing(--value(number));
  --tw-c4: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  --tw-c4: minmax(--spacing(--value(number)), --spacing(--modifier(number)));
  --tw-c4: minmax(
    --spacing(--value(number)),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  --tw-c4: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --spacing(--modifier(number))
  );
  --tw-c4: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  grid-template-columns: var(--tw-c1) var(--tw-c2) var(--tw-c3) var(--tw-c4);
}

@utility c4-fit-* {
  --tw-c4: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  grid-template-columns: var(--tw-c1) var(--tw-c2) var(--tw-c3) var(--tw-c4);
}

@utility c5-* {
  --tw-c5: --soacing(--value(number));
  --tw-c5: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  --tw-c5: minmax(--spacing(--value(number)), --spacing(--modifier(number)));
  --tw-c5: minmax(
    --spacing(--value(number)),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  --tw-c5: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --spacing(--modifier(number))
  );
  --tw-c5: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  grid-template-columns: var(--tw-c1) var(--tw-c2) var(--tw-c3) var(--tw-c4) var(--tw-c5);
}

@utility c5-fit-* {
  --tw-c5: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  grid-template-columns: var(--tw-c1) var(--tw-c2) var(--tw-c3) var(--tw-c4) var(--tw-c5);
}

@utility r1-* {
  --tw-r1: --soacing(--value(number));
  --tw-r1: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  --tw-r1: minmax(--spacing(--value(number)), --spacing(--modifier(number)));
  --tw-r1: minmax(
    --spacing(--value(number)),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  --tw-r1: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --spacing(--modifier(number))
  );
  --tw-r1: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  grid-template-rows: var(--tw-r1);
}

@utility r1-fit-* {
  --tw-r1: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  grid-template-rows: var(--tw-r1);
}

@utility r2-* {
  --tw-r2: --soacing(--value(number));
  --tw-r2: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  --tw-r2: minmax(--spacing(--value(number)), --spacing(--modifier(number)));
  --tw-r2: minmax(
    --spacing(--value(number)),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  --tw-r2: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --spacing(--modifier(number))
  );
  --tw-r2: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  grid-template-rows: var(--tw-r1) var(--tw-r2);
}

@utility r2-fit-* {
  --tw-r2: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  grid-template-rows: var(--tw-r1) var(--tw-r2);
}

@utility r3-* {
  --tw-r3: --soacing(--value(number));
  --tw-r3: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  --tw-r3: minmax(--spacing(--value(number)), --spacing(--modifier(number)));
  --tw-r3: minmax(
    --spacing(--value(number)),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  --tw-r3: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --spacing(--modifier(number))
  );
  --tw-r3: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  grid-template-rows: var(--tw-r1) var(--tw-r2) var(--tw-r3);
}

@utility r3-fit-* {
  --tw-r3: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  grid-template-rows: var(--tw-r1) var(--tw-r2) var(--tw-r3);
}

@utility r4-* {
  --tw-r4: --soacing(--value(number));
  --tw-r4: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  --tw-r4: minmax(--spacing(--value(number)), --spacing(--modifier(number)));
  --tw-r4: minmax(
    --spacing(--value(number)),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  --tw-r4: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --spacing(--modifier(number))
  );
  --tw-r4: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  grid-template-rows: var(--tw-r1) var(--tw-r2) var(--tw-r3) var(--tw-r4);
}

@utility r4-fit-* {
  --tw-r4: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  grid-template-rows: var(--tw-r1) var(--tw-r2) var(--tw-r3) var(--tw-r4);
}

@utility r5-* {
  --tw-r5: --soacing(--value(number));
  --tw-r5: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  --tw-r5: minmax(--spacing(--value(number)), --spacing(--modifier(number)));
  --tw-r5: minmax(
    --spacing(--value(number)),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  --tw-r5: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --spacing(--modifier(number))
  );
  --tw-r5: minmax(
    --value('auto', --container-*, --grid-track-*, percentage, [*]),
    --modifier('auto', --container-*, --grid-track-*, percentage, [*])
  );
  grid-template-rows: var(--tw-r1) var(--tw-r2) var(--tw-r3) var(--tw-r4) var(--tw-r5);
}

@utility r5-fit-* {
  --tw-r5: --value('auto', --container-*, --grid-track-*, percentage, [*]);
  grid-template-rows: var(--tw-r1) var(--tw-r2) var(--tw-r3) var(--tw-r4) var(--tw-r5);
}

@property --tw-c1 {
  syntax: '*';
  inherits: false;
  initial-value: auto;
}

@property --tw-c2 {
  syntax: '*';
  inherits: false;
  initial-value: auto;
}

@property --tw-c3 {
  syntax: '*';
  inherits: false;
  initial-value: auto;
}

@property --tw-c4 {
  syntax: '*';
  inherits: false;
  initial-value: auto;
}

@property --tw-c5 {
  syntax: '*';
  inherits: false;
  initial-value: auto;
}

@property --tw-r1 {
  syntax: '*';
  inherits: false;
  initial-value: auto;
}

@property --tw-r2 {
  syntax: '*';
  inherits: false;
  initial-value: auto;
}

@property --tw-r3 {
  syntax: '*';
  inherits: false;
  initial-value: auto;
}

@property --tw-r4 {
  syntax: '*';
  inherits: false;
  initial-value: auto;
}

@property --tw-r5 {
  syntax: '*';
  inherits: false;
  initial-value: auto;
}
