name: check
on:
  push
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2.1.2

      - run: bun install
      - run: bun check
      - run: bun test
